.catalog-nav__item a {
  text-decoration: none;
  font-size: 19px;
  line-height: 24px;
  font-weight: bold;
  color: #ffffff;
}

.catalog-nav__item--interior {
  background-color: @seafoam-blue;
}

.catalog-nav__item--toys {
  background-color: @aqua-marine;
}
