.catalog-nav__item a {
  position: relative;
  text-decoration: none;
  font-size: 19px;
  line-height: 24px;
  font-weight: bold;
  color: #ffffff;
  display: block;
  width: 106px;
  height: 43px;
  padding: 30px 0;
  padding-left: 29px;

  &::before {
    content: "";
    position: absolute;
    opacity: 0.2;
  }
}

.catalog-nav__item {
  cursor: pointer;

  &:hover {
    height: 124px;
    margin-top: -5px;
  }

  &:active a {
    opacity: 0.3;
  }
}

.catalog-nav__item--interior {
  background-color: @seafoam-blue;

  &:hover {
    background-color: @seafoam-blue-two;
  }
}

.catalog-nav__item--toys {
  background-color: @aqua-marine;

  &:hover {
    background-color: @aqua-marine-two;
  }
}

.catalog-nav__item--interior a::before {
  width: 40px;
  height: 62px;
  left: 244px;
  top: 23px;
  background: transparent url("../img/icon-interior.svg") no-repeat center;
}

.catalog-nav__item--toys a::before {
  width: 60px;
  height: 60px;
  left: 234px;
  top: 23px;
  background: transparent url("../img/icon-toy.svg") no-repeat center;
}

.catalog-nav {
  width: 320px;
  margin: 0 auto;
  position: relative;
}

@media (min-width: @tablet-width) {
  .catalog-nav {
    width: 87%;
    min-height: 119px;
    display: flex;
    margin-top: -113px;
  }

  .catalog-nav__item {
    flex-basis: 50%;
  }

  .catalog-nav__item a {
    font-size: 20px;
    line-height: 30px;
    padding: 28px 0;
    padding-left: 36px;
  }

  .catalog-nav__item--interior a::before {
    left: 257px;
    top: 30px;
  }

  .catalog-nav__item--toys a::before {
    left: 240px;
    top: 32px;
  }
}

@media (min-width: @desktop-width) {
  .catalog-nav {
    width: @center-width-desktop;
    margin-top: -114px;
    margin-left: 45px;
  }

  .catalog-nav__item a {
    padding-left: 37px;
  }

  .catalog-nav__item--interior a::before {
    left: 450px;
  }

  .catalog-nav__item--toys a::before {
    left: 430px;
  }
}
