.item-of-week {
  width: 260px;
  margin: 0 auto 36px;
}

.item-of-week__name {
  font-size: 25px;
  line-height: 30px;
  font-weight: bold;
  color: #000000;
  margin: 0 0 6px;
}

.item-of-week__title {
  font-size: 17px;
  line-height: 20px;
  color: @seafoam-blue;
  margin: 0 0 20px;
  text-transform: uppercase;
}

.item-of-week__description {
  font-size: 15px;
  line-height: 24px;
  color: @greyish-brown;
  margin: 0 0 33px;
}

.item-of-week__table {
  width: 100%;
  border-collapse: collapse;
  font-size: 15px;
  line-height: 20px;
  color: @greyish-brown;
  margin-top: -20px;
  margin-bottom: 16px;
}

.item-of-week__parameter,
.item-of-week__value {
  box-shadow: 0 1px 0 0 #ececec, inset 0 0 0 0 #ececec;
  padding: 13px 0;
  vertical-align: top;
}

.item-of-week__value {
  width: 60%;
}

.item-of-week__price {
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  text-align: center;
  color: @greyish-brown;
  margin: 0 0 26px;
}

.item-of-week__wrapper-bottom {
  width: @center-width-mobile;
}

.item-of-week__img-wrapper {
  width: 260px;
  height: 315px;
  margin-bottom: 25px;
}

@media (min-width: @tablet-width) {
  .item-of-week__name {
    font-size: 43px;
    line-height: 50px;
  }

  .item-of-week__value {
    width: 67%;
  }

  .item-of-week__title {
    line-height: 17px;
    width: 70px;
    text-align: center;
    padding-top: 11px;
    margin-left: 143px;
  }

  .item-of-week__name,
  .item-of-week__title {
    margin-bottom: 0;
  }

  .item-of-week {
    display: flex;
    flex-direction: column;
    width: @center-width-tablet;
    margin-bottom: 53px;
  }

  .item-of-week__wrapper-top {
    display: flex;
    margin-bottom: 47px;
  }

  .item-of-week__description,
  .item-of-week__table,
  .item-of-week__wrapper-bottom {
    width: 292px;
  }

  .item-of-week__description {
    width: 282px;
    font-size: 17px;
    line-height: 30px;
    margin-bottom: 54px;
  }

  .item-of-week__price {
    font-size: 20px;
    margin-bottom: 35px;
  }

  .item-of-week__img-wrapper {
    width: 333px;
    height: 404px;
    align-self: flex-end;
    margin-top: -257px;
  }

  .item-of-week__wrapper-bottom {
    margin-top: -136px;
  }

  .item-of-week__table tr:nth-child(2) td {
    padding-top: 6px;
    padding-bottom: 10px;
  }

  .item-of-week__table tr:nth-child(3) td {
    padding-top: 12px;
  }
}

@media (min-width: @desktop-width) {
  .item-of-week {
    width: @center-width-desktop;
    margin-bottom: 73px;
  }

  .item-of-week__wrapper-top {
    justify-content: flex-start;
    margin-left: 47px;
    z-index: 2;
  }

  .item-of-week__name {
    order: 2;
    font-size: 53px;
    line-height: 57px;
  }

  .item-of-week__title {
    order: 1;
    padding-top: 13px;
    margin-right: 50px;
    margin-left: 0;
  }

  .item-of-week__img-wrapper {
    width: 525px;
    height: 636px;
    margin-top: -436px;
  }

  .item-of-week__wrapper-bottom,
  .item-of-week__wrapper-middle {
    margin-left: 170px;
  }

  .item-of-week__description {
    margin-bottom: 64px;
  }

  .item-of-week__wrapper-bottom {
    margin-top: -134px;
  }

}
