.item-of-week__name {
  font-size: 25px;
  line-height: 30px;
  color: #000000;
}

.item-of-week__title {
  font-size: 17px;
  line-height: 20px;
  color: @seafoam-blue;
}

.item-of-week__description {
  font-size: 15px;
  line-height: 24px;
  color: @greyish-brown;
}

.item-of-week__table {
  font-size: 15px;
  line-height: 20px;
  color: @greyish-brown;
}

.item-of-week__price {
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  text-align: center;
  color: @greyish-brown;
}

.item-of-week__make-order-btn {
  text-decoration: none;
  font-size: 17px;
  line-height: 20px;
  font-weight: bold;
  text-align: center;
  color:  @greyish-brown;
  border: solid 2px @greyish-brown;
}
