.page-catalog__item {
  margin-bottom: 28px;

  &:hover {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
  }

  &:active {
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
  }
}

.page-catalog {
  width: 260px;
  margin: 0 auto;
}

@media (min-width: @tablet-width) and (max-width: @tablet-width-only) {
  .page-catalog {
    width: @center-width-tablet;
  }

  .page-catalog__item {
    display: flex;
    margin-bottom: 54px;
  }
}

@media (min-width: @desktop-width) {
  .page-catalog {
    display: flex;
    width: @center-width-desktop;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: 44px;
  }

  .page-catalog__item {
    flex-basis: 316px;
    margin-bottom: 52px;
  }
}
