.page-header__title {
  font-size: 27px;
  line-height: 30px;
  color: #010000;
  text-align: center;
  margin: 0 auto;
  padding-top: 76px;
  width: 250px;
}

.page-header__title-wrapper {
  width: 320px;
  margin: 0 auto;
}

.page-header__title-wrapper--main {
  background: url("../img/hero-mobile@1x.jpg") no-repeat center;
  height: 283px;
}

.page-header__title-wrapper--inner {
  background-color: @very-light-pink;
  margin: 0 auto;
}

.page-header__title--inner {
  padding: 75px 0;
}

.page-header__logo {
  display: block;
  width: 86px;
  margin: 0 auto;
  height: 46px;
  text-align: center;
  padding: 22px 0;
  padding-bottom: 20px;
  box-shadow: 0 1px 0 0 #ececec, inset 0 0 0 0 #ececec;
}

.page-header {
  margin-bottom: 35px;
}

.page-header--inner {
  margin-bottom: 30px;
}

.page-header__delivery {
  display: none;
}

@media (min-width: @tablet-width) {
  .page-header__wrapper-nav {
    display: flex;
    width: @center-width-tablet;
    margin: 0 auto;
    position: relative;
  }

  .page-header__logo {
    box-shadow: none;
    margin: 0;
  }

  .page-header__delivery {
    display: inline;
    position: absolute;
    color: @greyish-brown;
    font-size: 15px;
    line-height: 24px;
    left: 65.5%;
    top: 88px;
  }

  .page-header__title-wrapper {
    width: 100%;
    height: 746px;
    margin: 0 auto;
    background: url("../img/hero-tablet@1x.jpg") no-repeat center;
    box-shadow: 0 1px 0 0 #ececec, inset 0 0 0 0 #ececec;
    margin-top: -75px;
  }

  .page-header__title {
    font-size: 43px;
    line-height: 50px;
    padding-top: 161px;
    width: 500px;
  }

  .page-header__title-wrapper--inner {
    height: 226px;
    margin-top: -75px;
  }

  .page-header__title--inner {
    padding-top: 106px;
  }
}

@media (min-width: @desktop-width) {
  .page-header__title-wrapper {
    background: url("../img/hero-desktop@1x.jpg") no-repeat center;
  }

  .page-header__title {
    font-size: 53px;
    line-height: 57px;
    width: 615px;
  }

  .page-header__title-wrapper--inner {
    height: 255px;
  }

  .page-header__wrapper-nav {
    width: @center-width-desktop;
  }

  .page-header__logo {
    position: absolute;
    left: 47.4%;
  }

  .page-header__delivery {
    left: 78%;
  }
}
