.page-footer {
  background-color: #f1f1f1;
  min-height: 160px;
}

.page-footer svg {
  &:hover {
    fill: @aqua-marine-two;
  }

  &:active {
    opacity: 0.3;
  }
}

.page-footer__logo-image {
  display: none;
  cursor: pointer;
}

@media (min-width: @tablet-width) {
  .page-footer__logo-image {
    display: block;
    margin-top: 48px;
  }

  .page-footer__container {
    width: @center-width-tablet;
    margin: 0 auto;
    display: flex;
  }
}

@media (min-width: @desktop-width) {
  .page-footer__container {
    width: @center-width-desktop;
    justify-content: space-between;
  }
}
