.page-header__title {
  font-size: 27px;
  line-height: 30px;
  color: #010000;
  text-align: center;
  margin: 0 auto;
  padding-top: 66px;
  width: 250px;
}

.page-header__title-wrapper {
  width: 320px;
  margin: 0 auto;
}

.page-header__title-wrapper--main {
  background: url("../img/hero-mobile@1x.jpg") no-repeat center;
  background-position: center -20px;
  height: 278px;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background: url("../img/hero-mobile@2x.jpg") no-repeat center;
    background-size: 575px auto;
    background-position: center -20px;
  }
}

.page-header__title-wrapper--inner {
  background-color: @very-light-pink;
  margin: 0 auto;
}

.page-header__title--inner {
  padding: 75px 0;
  padding-top: 67px;
}

.page-header__logo {
  display: block;
  margin: 0 auto;
  text-align: center;
  padding: 22px 0;
  padding-bottom: 20px;
  box-shadow: 0 1px 0 0 #ececec, inset 0 0 0 0 #ececec;
  cursor: pointer;

  &:hover img {
    opacity: 0.6;
  }

  &:active img {
    opacity: 0.3;
  }
}

.page-header {
  position: relative;
  margin: 0 auto;
  margin-bottom: 28px;
  max-width: 1150px;
}

.page-header--inner {
  margin-bottom: 23px;
}

.page-header--inner-catalog {
  margin-bottom: 31px;
}

.page-header__delivery {
  display: none;
}

@media (min-width: @tablet-width) {
  .page-header {
    margin-bottom: 45px;
  }

  .page-header--inner {
    margin-bottom: 73px;
  }

  .page-header--catalog {
    margin-bottom: 78px;
  }

  .page-header__wrapper-nav {
    display: flex;
    width: @center-width-tablet;
    margin: 0 auto;
    position: relative;
  }

  .page-header__logo {
    box-shadow: none;
    margin: 0;
  }

  .page-header__logo img {
    width: 112px;
  }

  .page-header__delivery {
    display: inline;
    position: absolute;
    color: @greyish-brown;
    font-size: 15px;
    line-height: 24px;
    left: 65.5%;
    top: 88px;
    padding-top: 15px;
  }

  .page-header__title-wrapper {
    width: 100%;
    height: 746px;
    margin: 0 auto;
    background: url("../img/hero-tablet@1x.jpg") no-repeat center;
    box-shadow: 0 1px 0 0 #ececec, inset 0 0 0 0 #ececec;
    margin-top: -75px;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background: url("../img/hero-tablet@2x.jpg") no-repeat center;
      background-size: 1150px auto;
    }
  }

  .page-header__title {
    font-size: 43px;
    line-height: 50px;
    padding-top: 161px;
    width: 500px;
  }

  .page-header__title-wrapper--inner {
    width: 100%;
    height: 226px;
    margin-top: -68px;
  }

  .page-header__title--inner {
    padding-top: 96px;
  }
}

@media (min-width: @desktop-width) {
  .page-header__title-wrapper {
    background: url("../img/hero-desktop@1x.jpg") no-repeat center;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background: url("../img/hero-desktop@2x.jpg") no-repeat center;
      background-size: cover;
    }
  }

  .page-header__title {
    font-size: 53px;
    line-height: 57px;
    width: 615px;
  }

  .page-header__title-wrapper--inner {
    height: 255px;
  }

  .page-header__wrapper-nav {
    width: @center-width-desktop;
    margin-left: 44px;
  }

  .page-header__logo {
    position: absolute;
    left: 43%;
    padding: 0;
  }

  .page-header__logo img {
    width: 149px;
  }

  .page-header__delivery {
    left: 78%;
    padding-top: 9px;
  }

  .page-header__title--inner {
    padding-top: 93px;
  }

  .page-header {
    margin-bottom: 125px;

    &--inner {
      margin-bottom: 120px;
    }

    &--catalog {
      margin-bottom: 127px;
    }
  }
}
