.item__name {
  font-size: 17px;
  line-height: 24px;
  color: #000000;
  font-weight: bold;
}

.item__description {
  font-size: 17px;
  line-height: 30px;
  color: @greyish-brown;
}

.item__price {
  font-size: 15px;
  line-height: 24px;
}
