.process {
  width: @center-width-mobile;
  margin: 0 auto;
  border: solid 1px #ececec;
  margin-bottom: 58px;
  position: relative;

  &:hover {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
  }

  &:active {
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
  }

  &__icon-play {
    .icon-property;
    width: 101px;
    height: 77px;
    background: url("../img/icon-play.svg") no-repeat center;
    background-size: cover;
    top: 25%;
    left: 30%;
    z-index: 22;
    cursor: pointer;

    &:hover {
      width: 121px;
      height: 92px;
      transform: translateX(-10px);
    }

    &:active {
      width: 81px;
      height: 62px;
      opacity: 0.7;
      transform: translateX(5px);
    }
  }
}

.process__title {
  margin-left: 91px;
  margin-top: 25px;
  margin-bottom: 23px;
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  position: relative;

  &::before {
    .icon-property;
    width: 32px;
    height: 22px;
    background: url("../img/icon-video.svg") no-repeat center;
    transform: translate(-57px, 7px);
  }
}

.process__image-wrapper {
  margin-bottom: 21px;
  position: relative;
}

.process__preview {
  margin: 0 auto;
  width: 190px;
  font-size: 13px;
  line-height: 24px;
  color: @greyish-brown;
  font-weight: normal;
  margin-bottom: 25px;
}

.process__order-btn {
  width: 192px;
  box-sizing: border-box;
  margin: 0 auto 33px;
}

@media (min-width: @tablet-width) {
  .process {
    width: @center-width-tablet;
    margin-bottom: 63px;
    display: flex;
    flex-direction: column;

    &__icon-play {
      top: 25%;
      left: 42%;
    }
  }

  .process__title {
    order: 1;
    font-size: 20px;
    line-height: 24px;
    margin: 0 0 31px 107px;

    &::before {
      transform: translate(-60px, -1px);
    }
  }

  .process__preview {
    order: 2;
    font-size: 15px;
    line-height: 30px;
    width: 582px;
    margin-bottom: 36px;
  }

  .process__order-btn {
    order: 3;
    width: 584px;
    margin-bottom: 46px;
  }

  .process__image-wrapper {
    order: 0;
    width: 668px;
    height: 455px;
    margin-bottom: 37px;
  }
}

@media (min-width: @desktop-width) {
  .process {
    width: @center-width-desktop;
    margin-bottom: 105px;
    min-height: 455px;
    margin-left: 45px;

    &__icon-play {
      top: 41%;
      left: 28%;
    }
  }

  .process__image-wrapper {
    align-self: flex-start;
    width: 682px;
    margin: 0;
  }

  .process__order-btn,
  .process__preview,
  .process__title {
    align-self: flex-end;
    margin: 0;
  }

  .process__preview {
    width: 225px;
    margin-bottom: 47px;
    margin-right: 66px;
  }

  .process__order-btn {
    width: 230px;
    margin-right: 59px;
  }

  .process__title {
    display: block;
    width: 150px;
    margin-top: -360px;
    margin-bottom: 32px;
    margin-right: 140px;

    &::before {
      transform: translate(0, -50px);
    }
  }
}
